
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>测试平台</title>
      {%  load static  %}
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->


    <!-- Custom styles for this template -->
    <link href="https://v3.bootcss.com/examples/dashboard/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/css/bootstrap-select.min.css">

    <![endif]-->

      <script type="text/javascript" src="{% static "js/myCase.js" %}"></script>


  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Settings</a></li>
            <li><a href="/logout/">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">

            <li>
                <a href="/project/">
                  <i class="glyphicon glyphicon-th-large" aria-hidden="true"></i>  项目管理
                </a>
            </li>
              <li>
                  <a href="/module/">
                  <i class="glyphicon glyphicon-th-large" aria-hidden="true"></i>  模块管理
                  </a>
              </li>

            <li class="active">
                <a href="/testcase/">用例管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">任务管理</a></li>
            <li><a href="">Mock Server</a></li>
            <li><a href="">测试工具</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <!--测试用例展示-->
            {%  if type == "debug" %}
                <h4 class="sub-header">Postman
              </h4>
                <!--增加下拉菜单-->
                    <!--下拉菜单-->
		            <!--div class="row">
			            <div class="col-lg-6">
				            <div class="input-group">
					            <div class="input-group-btn">
						            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							请求
							            <span class="caret"></span>
						            </button>
						            <ul class="dropdown-menu">
                                        <li><a href="#">GET</a></li>
							            <li><a href="#">POST</a></li>
							            <li><a href="#">PUT</a></li>
                                        <li><a href="#">DELETE</a></li>
						            </ul>
					        </div><!-- /btn-group -->
					<!--input type="text" class="form-control">

				</div><!-- /input-group -->

			<!-- /.col-lg-6 -->
        <!--增加请求-->
		<div  class="input-group">
            <span class="input-group-addon">*URL</span>
            <input id="URL" type="text" class="form-control">
        </div>
                <br>
                    <!--增加请求方法-->
                <div  style="margin-top:10px;">
                    <label>*请求方法*</label>
                    <label class="radio-inline">
                        <input type="radio" name="req_type" id="GET" value="GET" checked>GET
                        </label>
                    <label class="radio-inline">
                        <input type="radio" name="req_type" id="POST" value="POST">POST
                        </label>
                    <label class="radio-inline">
                        <input type="radio" name="req_type" id="PUT" value="PUT">PUT
                        </label>
                    <label class="radio-inline">
                        <input type="radio" name="req_type" id="DELETE" value="DELETE">DELETE
                        </label>
                    </div>
                    <!--增加header-->
                <div class="input-group">
                    <span class="input-group-addon">header</span>
                    <input id="header" type="text" class="form-control" placeholder="header">

                </div>

                    <!--增加参数-->
                    <div  style="margin-top:10px;">
                        <label>*参数类型:</label>
                        <label class="radio-inline">
                            <input type="radio" name="par_type" id="form-data" value="form-data" checked>form-data
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="par_type" id="json" value="json">json
                        </label>
                        </div>
                    <div class="input-group">
                        <span class="input-group-addon">参数</span>
                        <input id="parameter" type="text" class="form-control">
                    </div>
                    <p style="color:#8B8989">说明:以字典的方式设置参数如:{"id":1,"name":"名称"}</p>

                <div style="margin-top:10px;">
                <button type="button" class="btn btn-sm btn-primary" style="float: right;"  onclick=sendFun()>发送</button>
                </div>
                <div style="margin-top: 30px;">
                    <p>返回结果</p>
                    <textarea id="result" class="form-control" style="height: 250px;"  row="10" name="textarea"> </textarea>
                </div>


                <div style="margin-top:10px;">
                <button type="button" class="btn btn-sm btn-primary" style="float: right;" onclick=assertFun()>断言</button>
                </div>
                <div  style="margin-top:10px;">
                        <label>*匹配类型:</label>
                        <label class="radio-inline">
                            <input type="radio" name="re_type" id="include" value="include" checked>包含
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="re_type" id="equal" value="equal">等于
                        </label>
                        </div>
                <div style="margin-top: 30px;">
                    <p>断言</p>
                    <textarea id="assert_result" class="form-control" style="height: 50px;"  row="10" name="textarea"> </textarea>
                </div>
                <!--增加二级联动-->
                <div style="margin-top: 30px;">
                <label>项目</label>
                    <select class="selectpicker" id="project_name">
                    </select>

                <label>模块</label>
                    <select class="selectpicker" id="module_name">
                        <option>Mustart</option>
                        <option>f</option>
                    </select>
                    <button type="button" class="btn btn-sm btn-primary" style="float: right;"  >保存</button>

                </div>
            {% endif %}

        </div>
      </div>
    </div>

            <!--执行脚本-->


        <script type="text/javascript">
            //调用项目初始化
         ProjectInit('project_name');
            //发送方法
            function sendFun(){
                var url = $("#URL").val();
                var method = $('input[name="req_type"]:checked').val();
                var header = $("#header").val();
                var type = $('input[name="par_type"]:checked').val();
                var parameter = $("#parameter").val();
                if(url ==""){
                    window.alert("URL不能为空!");
                    return;
                }
                window.alert("parameter:"+parameter);
                $.post("/testcase/debug",
                    {url:url,
                    method:method,
                    header:header,
                    type:type,
                    parameter:parameter,
                    },
                    function(data, status){
                    alert("数据:"+data.result);
                    console.log("返回的结果:",data.result);
                    document.querySelector("#result").value = data.result;
                    });
            };
            //断言方法
            function assertFun(){
              var result_text = $("#result").val();
              var assert_text = $("#assert_result").val();
              var re_type = $('input[name="re_type"]:checked').val();
              console.log("得到的结果",result_text);
              console.log("断言",assert_text);
              if (result_text.replace(/(^\s*)|(\s*$)/g, "").length ==0 ||assert_text.replace(/(^\s*)|(\s*$)/g, "").length ==0){
                  window.alert("要断言的文本不能为空!");
                  return;
              }
              //接口返回处理
              $.post("/testcase/assert",
               {
                   result:result_text,
                   assert:assert_text,
                   retype:re_type,
               },
                  function(data, status){
                    alert("数据:"+data.result);
                    console.log("返回的结果:",data.result);

                    //document.querySelector("#result").value = data.result;
                    });
            };
        </script>






    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="https://v3.bootcss.com/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
